<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добро пожаловать</title>
  <link rel="stylesheet" href="stile.css">
</head>
<body>
  <header class="header">
    <div class="logo">forum</div>
    <nav>
      <a href="#" >Главная</a>
      <a href="#" >Личный кабинет</a>
      <a href="#" >Посты</a>
      
    </nav>
    
  </header>

  <main>  

  </main>

  <footer class="footer">
    <p>Все прова под защитой</p>
    
  </footer>
</body>
</html>
